<div class="container">
    <h3>{{headingTitlex}}</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Colegiatura</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>DNI</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="doctor in doctors">
                <td>{{doctor.numeroColegio}}</td>
                <td>{{doctor.idPersona.nombres}}</td>
                <td>{{doctor.idPersona.apellPaterno}} {{doctor.idPersona.apellMater}}</td>
                <td>{{doctor.idPersona.dni}}</td>
                <td>
                    <div class="btn-group">
                        
                    </div>                
                </td>
            </tr>
        </tbody>
    </table>
</div>

